.app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.addlink {
    text-align: center;
}

.title {
    color:darkslategrey;
}

.error-text{
    color:red;
    font-style: italic;
}